<!--
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\vx.x\Config 
-->
<configuration>
  <configSections>
    <!--<sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>-->
  </configSections>

  <appSettings>
    <add key="MailLogin" value="[EMAIL]"/>
    <add key="MailPassword" value="[MAIL PASSWORD ENCRYPT VERSION]"/>
    <add key="MailServer" value="[MAIL SERVER]"/>
    <add key="MailLogsList" value="[MAIL LIST FOR ERROR LOGS]"/>
    <add key="UploadsFileEncryptKey" value="dZsWswdZsWsww9GiIXhwZv7jL9wZv7jL9"/>
    <add key="MobileOperationTypes" value="50,51,55,70,77,10"/>
    <add key="GoogleCapthaValid" value="GoFNk3G3m5d600dmPxAUX39W+CofDBc4A2psV/biNTvctgunv7IeiZPu+RWOh3Z2wI1JUbKgyF/+asgtWuhMzDuXxgyEfzhsN5Fcky3MMHXR9pZLelvzgIMBvhvKNxQNK5eIeGle2AOzxX2y1T3bWLi94fhL4athhIJMiUmUVA0="/>
  </appSettings>
  <connectionStrings>
    <!--Encypt version:  "connectionString".Encypt();   "connectionString".Decypt();   By Cryptography class-->
    <add name="ConnStr" connectionString="Data Source=10.10.72.35;Initial Catalog=DataBank;User ID=test;Password=B@ku2019" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0">
    </compilation>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" culture="Auto" uiCulture="Auto"/>
    <customErrors mode="Off"/>
    <httpRuntime executionTimeout="900" maxRequestLength="10000"/>
    <!--Maksimum fayl yüklənməsi: 10 MB, maksimum gözləmə saniyəsi 15 dəqiqə. 15 dəq. yükləməsə error versin-->
    <!--Son-->
    <pages validateRequest="false" autoEventWireup="true" maintainScrollPositionOnPostBack="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
    </pages>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
</configuration>
